#---- Gambas files to ignore (v9)
*.gambas
.lock
*~
core
core.*
vgcore
vgcore.*
.kdbg*
.*.prof
.lang/*.pot
.gambas/*
.settings
.startup
.environment
.list
.info
.fuse_hidden*
.profile/*
.desc/*
.app.png
.icon.png
#----
